In [8]:
import nltk
import re
import pandas as pd

In [11]:
emails=pd.read_csv(r'C:\Users\pc\Desktop\datasets\spam_ham_dataset.csv')
emails.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [12]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
corpus=[]

In [14]:
email=emails.drop('Unnamed: 0', axis=1)
email=email.drop('label_num', axis=1)
email

     label                                               text
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...
...    ...                                                ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169   ham  Subject: industrial worksheets for august 2000...
5170  spam  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [15]:
for i in range(0, len(email)):
    mail=re.sub('^[a-zA-Z]', ' ', email['label'][i])
    mail=mail.lower()
    mail=mail.split()
    mail=[ps.stem(word) for word in mail if not word in stopwords.words('english')]
    mail=' '.join(mail)
    corpus.append(mail)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000)
x=cv.fit_transform(corpus).toarray()

In [17]:
y=pd.get_dummies(email['label'])
y=y.iloc[:,1].values

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
xtrain, xtest, ytrain, ytest=train_test_split(x, y, test_size=0.2)

In [36]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(xtrain, ytrain)
gnb.score(xtest, ytest)

1.0

In [37]:
y_hat=gnb.predict(xtest)

In [38]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_hat, ytest)
from sklearn.metrics import accuracy_score
score=accuracy_score(y_hat, ytest)

In [39]:
cm

array([[752,   0],
       [  0, 283]], dtype=int64)

In [40]:
score

1.0