# TITANIC ML PREDICTION

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'C:\test titanic.csv')
df1=pd.read_csv(r'C:\train titanic.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
df1.isnull().sum()
Y=df1['Survived'].to_numpy()
Y=pd.Series(Y)

In [4]:
df2=df1.drop('PassengerId', axis=1)
df3=df2.select_dtypes(include=['float64','int64'])
df3.isnull().sum()

Survived      0
Pclass        0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [5]:
m1=df3['Age'].mean()
df3['Age'].fillna(value=m1, inplace=True)
#m2=df2['Fare'].mean()
#df2['Fare'].fillna(value=m2, inplace =True)
#df2.isnull().sum()
df3

     Survived  Pclass        Age  SibSp  Parch     Fare
0           0       3  22.000000      1      0   7.2500
1           1       1  38.000000      1      0  71.2833
2           1       3  26.000000      0      0   7.9250
3           1       1  35.000000      1      0  53.1000
4           0       3  35.000000      0      0   8.0500
..        ...     ...        ...    ...    ...      ...
886         0       2  27.000000      0      0  13.0000
887         1       1  19.000000      0      0  30.0000
888         0       3  29.699118      1      2  23.4500
889         1       1  26.000000      0      0  30.0000
890         0       3  32.000000      0      0   7.7500

[891 rows x 6 columns]

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain, xtest, ytrain, ytest=train_test_split(df3,Y, train_size=0.8)

In [9]:
reg=LinearRegression()
reg.fit(xtrain, ytrain)

LinearRegression()

In [10]:
reg.score(xtest, ytest)

1.0

In [12]:
y_hat=reg.predict(xtest)
y_hat

array([-3.10442708e-15, -3.12039503e-15, -3.63647852e-15, -2.99376957e-15,
       -3.11989215e-15, -1.45449038e-15,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
       -2.35563537e-15, -3.10244017e-15, -3.26445668e-15, -3.69120227e-15,
        1.00000000e+00, -3.54322010e-15, -1.46030933e-15,  1.00000000e+00,
       -3.57351202e-15, -2.71429258e-15,  1.00000000e+00,  1.00000000e+00,
       -1.59363858e-15,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
       -6.42877287e-16, -3.79201273e-15,  1.00000000e+00, -3.15689452e-15,
       -3.11946928e-15,  1.00000000e+00,  1.00000000e+00, -3.14189667e-15,
       -3.63666585e-15,  1.00000000e+00, -3.79201273e-15,  1.00000000e+00,
       -3.61531892e-15, -4.00491203e-15, -3.41741982e-15, -3.67879757e-15,
       -2.83670325e-15, -3.10341925e-15, -2.65277053e-15, -3.53016485e-15,
       -3.12039503e-15, -2.35563537e-15, -3.07780107e-15, -1.23741508e-15,
       -3.74446340e-15, -3.11849020e-15, -3.10653871e-15, -3.66150803e-15,
       -1.91913021e-15, -3.12370182e-15,  1.00000000e+00, -3.14724073e-15,
       -3.11946928e-15,  1.00000000e+00, -3.60799901e-15, -2.89893567e-15,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00, -3.12356975e-15,
        1.00000000e+00, -3.74268081e-15, -2.52153820e-15,  1.00000000e+00,
       -2.35124656e-15, -2.02704917e-15, -3.44296541e-15, -3.85099106e-15,
        1.00000000e+00, -3.18766659e-15, -3.53439739e-15, -3.54587426e-15,
       -3.68230240e-15,  2.23639685e-16, -3.31684475e-15,  1.00000000e+00,
       -2.08302212e-15, -2.52643043e-15, -3.96935957e-15,  1.00000000e+00,
       -3.90604387e-15,  1.00000000e+00,  1.00000000e+00, -3.12356047e-15,
       -3.45386223e-15, -4.06383047e-15, -2.93173877e-15,  1.00000000e+00,
       -3.49217358e-15,  1.00000000e+00,  1.00000000e+00, -2.46549649e-15,
       -2.79263794e-15,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
       -3.11946928e-15, -3.25680533e-15,  1.48550691e-15, -3.63198314e-15,
        1.00000000e+00, -1.74331698e-15,  1.00000000e+00, -3.45878115e-15,
       -3.53254589e-15,  1.00000000e+00,  1.00000000e+00,  3.92654953e-16,
        1.00000000e+00, -2.02141075e-15, -3.11589772e-15, -3.37114308e-15,
        6.50986534e-16,  1.00000000e+00,  1.00000000e+00, -3.58443380e-15,
       -3.12166492e-15,  1.00000000e+00,  9.17702534e-16,  1.00000000e+00,
       -3.58493122e-15,  1.00000000e+00, -3.64692843e-15, -3.31581297e-15,
       -3.41329268e-15,  1.00000000e+00,  2.52410549e-16, -2.23807826e-15,
        1.00000000e+00, -3.10244017e-15, -3.42249937e-15, -1.45078788e-15,
       -3.45121711e-15,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00, -3.41460437e-15, -3.47907819e-15,  1.00000000e+00,
       -3.59358523e-15, -2.42606861e-15, -3.25680533e-15,  1.00000000e+00,
        1.00000000e+00, -2.99654745e-15, -3.11946928e-15, -2.71515107e-15,
       -3.11946928e-15,  1.00000000e+00, -2.16657039e-15, -2.03557617e-15,
       -4.74913332e-15, -3.58411633e-15, -3.37013525e-15, -3.31800668e-15,
       -2.67415196e-15,  1.00000000e+00, -3.14737388e-15, -4.34346969e-15,
       -2.67180554e-15, -3.96935957e-15,  1.00000000e+00, -2.45843274e-15,
        1.00000000e+00, -3.72867187e-15, -3.48529999e-15, -3.72274098e-15,
        1.00000000e+00, -2.36426850e-15, -2.76368223e-15])

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
lr=LogisticRegression()
lr.fit(xtrain, ytrain)

LogisticRegression()

In [15]:
lr.score(xtest, ytest)

1.0

In [16]:
y_hat=lr.predict(xtest)
y_hat

array([0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0], dtype=int64)

### AFTER ANALYSIS WE CAN SEE THAT LINEAR REGRESSION FOR LOOK THE SURVIVING HAS GREAT ACCURACY AND LOGISITIC TO SEE WHAT GENDER HAS MORE CHANCE TO SURVIVE TOO.

In [26]:
w=0
m=0
for i in y_hat:
    if i == 0:
        w=w+1
    else:
        m=m+1
#print(w, m)
print("If men survivor=0, and woman survivor =1, the probability for men surviving is" , m/len(y_hat),"\n","and for the woman is", w/len(y_hat))

If men survivor=0, and woman survivor =1, the probability for men surviving is 0.441340782122905
 and for the woman is 0.5586592178770949